<table id="data-table" class="data-table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Score</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Red</td>
      <td>0.1234</td>
      <td>Minim in magna ex incididunt sit laborum exercitation aute</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Blue</td>
      <td>0.1234</td>
      <td>in dolore amet irure dolore commodo est aliquip</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Green</td>
      <td>0.1234</td>
      <td>nostrud laborum in ullamco cillum laborum</td>
    </tr>
  </tbody>
</table>
<div class="results-info">
  <a class="paginate_button previous" href="#data-table">Previous</a>
  <a class="paginate_button next" href="#data-table">Next</a>
</div>
