<div class="container">
  {% if modifier == 'card--primary' %}
    <div class="grid grid--4-wide" style="padding: 2rem 0">
      <aside class="grid__item card card--primary">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--neutral">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--secondary">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--secondary-contrast">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
    </div>
  {% endif %}

  {% if modifier == 'card--horizontal' %}
    <div class="grid grid--2-wide" style="padding: 2rem 0">
      <aside class="grid__item card card--horizontal card--primary">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--horizontal card--neutral">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--horizontal card--secondary">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--horizontal card--secondary-contrast">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
    </div>
  {% endif %}

  {% if modifier == 'card--full-bleed' %}
    <div class="grid grid--2-wide" style="padding: 2rem 0">
      <aside class="grid__item card card--horizontal card--full-bleed card--primary">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--horizontal card--full-bleed card--neutral">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--horizontal card--full-bleed card--secondary">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
      <aside class="grid__item card card--horizontal card--full-bleed card--secondary-contrast">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <a href="#">Take this action</a>
        </div>
      </aside>
    </div>
  {% endif %}

  {% if modifier == 'card--wide' %}
    <div class="grid grid--2-wide" style="padding: 2rem 0">
      <aside class="grid__item card card--horizontal card--wide">
        <div class="card__image__container">
          <img alt="" src="/img/i-calendar--primary.svg" class="icon--complex card__image">
        </div>
        <div class="card__content">
          <h2 class="card__title">Committee data</h2>
          <ul class="card__links list--bulleted">
            <li><a href="#">Most recent committees &raquo;</a></li>
            <li><a href="#">All PACs active 2015-2016 &raquo;</a></li>
            <li><a href="#">All independent expenditure committees active 2015-2016 &raquo;</a></li>
          </ul>
          <a class="button--standard button--browse" href="#">All committee data</a>
        </div>
      </aside>
    </div>
  {% endif %}
</div>
