<div style="padding: 2rem">
  .crimson
  <div class="sg-swatch crimson"></div>
  .orange
  <div class="sg-swatch orange"></div>
  .federal-blue
  <div class="sg-swatch federal-blue"></div>
  .aqua
  <div class="sg-swatch aqua"></div>
  .neutral
  <div class="sg-swatch neutral"></div>
  .bright-red
  <div class="sg-swatch bright-red"></div>
  .deep-orange
  <div class="sg-swatch deep-orange"></div>
  .deep-red
  <div class="sg-swatch deep-red"></div>
  .bright-blue
  <div class="sg-swatch bright-blue"></div>
  .deep-aqua
  <div class="sg-swatch deep-aqua"></div>
  .navy
  <div class="sg-swatch navy"></div>
  .gray-lightest
  <div class="sg-swatch gray-lightest"></div>
  .gray-light
  <div class="sg-swatch gray-light"></div>
  .gray-medium
  <div class="sg-swatch gray-medium"></div>
  .gray
  <div class="sg-swatch gray"></div>
  .gray-dark
  <div class="sg-swatch gray-dark"></div>
  .disabled
  <div class="sg-swatch disabled"></div>
</div>
