<div class="container" style="padding-top: 2rem">
  <div class="icon-heading">
    <img class="icon-heading__image" src="/img/i-overviews--primary.svg" alt="Icon representing interactive overviews">
    <div class="icon-heading__content">
      <h2 class="icon-heading__title">Interactive overviews</h2>
      <p>You don’t have to be an expert to learn more about campaign finance. These overviews are a visual introduction to how money is raised and spent in federal elections.</p>
    </div>
  </div>
</div>
