<header class="main">
  <h1 class="entity__name content__section--narrow">DCCC</h1>
  <div class="heading--section">
    <span class="t-data t-bold entity__type">      
      <span class="is-active-status">Active</span>            
    </span>      
    <span class="t-data t-bold entity__type">      
        Party - Qualified       
    </span>
    <span class="t-data t-bold entity__type">ID: C00000935</span>
  </div>
</header>

<!--This is example of committee status showing in live page. not code. -->
<p>Example for typeahead dropdown:</p>
<img class="" src="/components/is_active_typeahead.png" width="40%" alt="Is active typeahead image">

