<div class="slab slab--neutral" style="padding: 4rem">
  <h1 class="u-padding--bottom">Colors</h1>
  <p class="t-lead">The specific combinations of color that help create brand consistency.</p>
</div>

<div class="container" style="padding: 2rem">
  <h2>Color palette</h2>
  <p>The FEC needed a defined color palette that was distinctly American, but avoided the partisan politcal connotations that are also associated with reds and blues. To accomplish this, the palette is used scientifically. To use both colors equally, the information architecture of the site is color coded: each major branch of the site is designed with deep blue accents, or deep red accents.</p>
  <p>The deep blues and reds are matched with bright complements to create a modern sense of gravitas. These pairs are also used scientifically, and blend only for illustrations of infographics.</p>
  <p>Grey and white pair in equal amounts with the red and blue to make versatile neutral space and features. They are the core design colors of the system, accentuated by the blue and red palettes.</p>
  <br>

  <div class="slab t-sans" style="padding: 1rem 0">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Federal blue pairs with aqua</span><br>
      The colors between are used to demonstrate interaction state changes
    </div>
    <div class="usa-width-one-fourth">
      <div style="background-color: #112E51; padding: 2rem">
        &nbsp;
      </div>
      .federal-blue<br>
      #112E51
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #164F85; padding: 2rem">
        &nbsp;
      </div>
      .navy<br>
      #164F85
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #0AACFA; padding: 2rem">
        &nbsp;
      </div>
      .bright-blue<br>
      #0AACFA
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #3E8A9A; padding: 2rem">
        &nbsp;
      </div>
      .deep-aqua<br>
      #3E8A9A
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #35BDBB; padding: 2rem">
        &nbsp;
      </div>
      .aqua<br>
      #35BDBB
    </div>
  </div>

  <div class="slab" style="padding: 1rem 0">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Crimson pairs with orange</span><br>
      The colors between are used to demonstrate interaction state changes
    </div>

    <div class="usa-width-one-fourth">
      <div style="background-color: #631010; padding: 2rem">
        &nbsp;
      </div>
      .crimson<br>
      #631010
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #961A16; padding: 2rem">
        &nbsp;
      </div>
      .deep-red<br>
      #961A16
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #DC3B00; padding: 2rem">
        &nbsp;
      </div>
      .bright-red<br>
      #DC3B00
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #E36641; padding: 2rem">
        &nbsp;
      </div>
      .deep-orange<br>
      #E36641
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #F77B42; padding: 2rem">
        &nbsp;
      </div>
      .orange<br>
      #F77B42
    </div>
  </div>

  <div class="slab" style="padding: 1rem 0">
    <div class="usa-width-one-fourth">
      <span class="t-bold">White and gray pair with a dark base</span><br>
      The grays between are used to demonstrate interaction state changes
    </div>
    <div class="usa-width-one-fourth">
      <div style="background-color: #F1F1F1; padding: 2rem">
        &nbsp;
      </div>
      .neutral, .gray-lightest<br>
      #F1F1F1
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #5B616B; padding: 2rem">
        &nbsp;
      </div>
      .gray-dark<br>
      #5B616B
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #AEB0B5; padding: 2rem">
        &nbsp;
      </div>
      .gray<br>
      #AEB0B5
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #D6D7D9; padding: 2rem">
        &nbsp;
      </div>
      .gray-medium<br>
      #D6D7D9
    </div>
    <div class="usa-width-one-twelfth">
      <div style="background-color: #E8E8E8; padding: 2rem">
        &nbsp;
      </div>
      .gray-light<br>
      #E8E8E8
    </div>
  </div>

  <div class="slab" style="padding: 1rem 0">
    <div class="usa-width-one-fourth">
      &nbsp;
    </div>
    <div class="usa-width-one-fourth">
      <div style="background-color: #FFFFFF; padding: 2rem; border: 1px solid #E8E8E8">
        &nbsp;
      </div>
      .inverse<br>
      #FFFFFF
    </div>
    <div class="usa-width-one-fourth">
      <div style="background-color: #212121; padding: 2rem">
        &nbsp;
      </div>
      .base<br>
      #212121
    </div>
  </div>

</div>
