<div class="slab slab--neutral" style="padding: 4rem">
  <h1 class="u-padding--bottom">Commissioner page template</h1>
  <p class="t-lead">Commissioner pages are Wagtail page templates. They contain information about Commissioner's terms of service, biographical information, and documents or cases relevant to the Commissioner’s service.
</p>
</div>

<div class="slab" style="padding: 2rem">
  <div class="container">

    <div class="usa-width-one-third u-float-right">
      <h2>Components</h2>
      <ul class="t-sans list--bulleted">
        <li>
          Title
         <br><span class="t-italic">Commissioner name</span>
        </li>
        <li>
          First name
        </li>
        <li>
          Middle initial
        </li>
        <li>
          Last name
        </li>
        <li>
          Picture
        </li>
        <li>
          Date sworn in
        </li>
        <li>
          Term expiration
        </li>
        <li>
          Reappointed dates
        </li>
        <li>
          Party affiliation
        </li>
        <li>
          Commissioner title
          <br><span class="t-italic">Chair or Vice Chair</span>
        </li>
        <li>
          Commissioner bio
          <ul>
            <li>
              Paragraph
            </li>
          </ul>
        </li>
        <li>
          Commissioner contact
          <ul>
            <li>
              Email
            </li>
            <li>
              Phone
            </li>
            <li>
              Twitter
            </li>
          </ul>
       </li>
      </ul>
    </div>

    <div class="usa-width-two-thirds" style="padding: 0rem 1rem">
      <img src="/components/page-commissioner.png" alt="Mockup of the commissioner page template components">
      <h2 class="u-padding--top">When to use</h2>
      <ul class="list--bulleted">
        <li>For every FEC commissioner’s bio page. The consistent presentation and structure of information helps users quickly scan and compare current and former commissioners.
        </li>
      </ul>
      <h2 class="u-padding--top">Example pages</h2>
      <ul class="list--bulleted">
        <li><a href="https://fec.gov/about/leadership-and-structure/steven-t-walther/">Steven T. Walther</a><br><span class="t-italic">Example of a currently serving commissioner</span></li>
        <li><a href="https://fec.gov/about/leadership-and-structure/ann-m-ravel/">Ann M. Ravel</a></li>
        <li><a href="https://fec.gov/about/leadership-and-structure/lee-elliott/">Lee A. Elliott</a></li>
      </ul>
    </div>

  </div>
</div>
