<div class="slab slab--neutral" style="padding: 2rem">
  <h1 class="u-padding--bottom">Custom page template</h1>
  <p class="t-lead">The custom page template is the most basic-level article page about a single, narrow topic. It has the most flexibility in embedded modules to accommodate the many scenarios it is used for.</p>
</div>

<div class="slab" style="padding: 2rem">
  <div class="container">

    <div class="usa-width-one-third" style="float:right">
      <h2>Components</h2>
        <ul class="list--bulleted">
          <li>Title</li>
          <li>Body<br><span class="t-italic">A paragraph is the standard option, but the body module can include:</span>
            <ul>
              <li>Paragraph</li>
              <li>HTML</li>
              <li>Image</li>
              <li>Table</li>
              <li>Example paragraph</li>
              <li>Example forms</li>
              <li>Reporting example cards</li>
            </ul>
          </li>
          <li>Sidebar, which can contain:
            <ul>
              <li>Heading <br><span class="t-italic">The title of the sidebar</span></li>
              <li>Paragraph</li>
              <li>HTML</li>
              <li>Record articles<br><span class="t-italic">Appears below the sidebar</span></li>
              <li>Contact link<br><span class="t-italic">Appears below the sidebar</span></li>
            </ul>
          </li>
          <li>Continue learning</li>
          <li>Citations (<span class="t-italic">legal citations</span>)</li>
        </ul>
    </div>

    <div class="usa-width-two-thirds" style="padding: 0rem 1rem">
      <img src="/components/page-custom.png" alt="">
      <h2 class="u-padding--top">When to use</h2>
      <ul class="list--bulleted">
        <li>Guide pages</li>
        <li>Data file description and metadata pages</li>
        <li>Pages about a single, narrow topic</li>
      </ul>
      <h2 class="u-padding--top">Example pages</h2>
      <ul class="list--bulleted">
        <li><a href="https://fec.gov/help-candidates-and-committees/filing-reports/electronic-filing/">Electronic filing overview</a></li>
        <li><a href="https://fec.gov/help-candidates-and-committees/making-disbursements/travel-behalf-campaigns/">Travel on behalf of campaigns</a><br><span class="t-italic">Guide page showing example text</span></li>
        <li><a href="https://fec.gov/help-candidates-and-committees/candidate-taking-receipts/contribution-types/">Types of contributions</a><br><span class="t-italic">Guide page showing reporting examples</span></li>
        <li><a href="https://fec.gov/legal-resources/enforcement/administrative-fines/administrative-fines-file-metadata/">Administrative fines metadata</a></li>
        <li><a href="https://fec.gov/about/leadership-and-structure/ellen-l-weintraub/documents-related-ogc-enforcement-manual/">Documents related to the OGC Enforcement Manual</a></li>
      </ul>

    </div>

  </div>
</div>
