<div class="slab slab--neutral" style="padding: 4rem">
  <h1 class="u-padding--bottom">Document feed page template</h1>
  <p class="t-lead">Document feed pages are Wagtail page templates. They contain all the documents in a collection, and display them in a feed which can be filtered by category and publication year.</p>
</div>

<div class="slab" style="padding: 2rem">
  <div class="container">

    <div class="usa-width-one-third u-float-right">
      <h2>Components</h2>
        <ul class="t-sans list--bulleted">
          <li>Title</li>
          <li>Intro</li>
          <li>Category<br><span class="t-italic">Choose the subcategory from  the "Reports" document collection in Wagtail that applies to this section</span></li>
        </ul>
    </div>

    <div class="usa-width-two-thirds" style="padding: 0rem 1rem">
      <img src="/components/page-document-feed.png" alt="Mockup of the document feed page template components">
      <h2 class="u-padding--top">When to use</h2>
      <ul class="list--bulleted">
        <li>When users need to scan or browse a collection of documents in a single parent category.</li>
      </ul>
      <h2 class="u-padding--top">Example pages</h2>
      <ul class="list--bulleted">
        <li><a href="https://fec.gov/about/reports-about-fec/strategy-budget-and-performance/">Strategy, budget and performance</a></li>
        <li><a href="https://fec.gov/about/reports-about-fec/foia-reports/">Freedom of Information Act (FOIA) reports</a></li>
        <li><a href="https://fec.gov/about/reports-about-fec/annual-and-anniversary-reports/">Annual and anniversary reports</a></li>
      </ul>

    </div>

  </div>
</div>
