<!--
  ONLY edit static/templates/icon-component.html
  and run `npm run build-icons-component`
-->

<div class="slab" style="padding: 2rem">
  <div class="grid grid--4-wide">
    <h1 class="u-padding--bottom">Icons</h1>

    <div class="grid__item">
      <i class="i i-all-files"></i>
      .i-all-files
    </div>

    <div class="grid__item">
      <i class="i i-arrow-down-border"></i>
      .i-arrow-down-border
    </div>

    <div class="grid__item">
      <i class="i i-arrow-down-circle"></i>
      .i-arrow-down-circle
    </div>

    <div class="grid__item">
      <i class="i i-arrow-down"></i>
      .i-arrow-down
    </div>

    <div class="grid__item">
      <i class="i i-arrow-left-border"></i>
      .i-arrow-left-border
    </div>

    <div class="grid__item">
      <i class="i i-arrow-left-circle"></i>
      .i-arrow-left-circle
    </div>

    <div class="grid__item">
      <i class="i i-arrow-left"></i>
      .i-arrow-left
    </div>

    <div class="grid__item">
      <i class="i i-arrow-right-border"></i>
      .i-arrow-right-border
    </div>

    <div class="grid__item">
      <i class="i i-arrow-right-circle"></i>
      .i-arrow-right-circle
    </div>

    <div class="grid__item">
      <i class="i i-arrow-right"></i>
      .i-arrow-right
    </div>

    <div class="grid__item">
      <i class="i i-arrow-up-border"></i>
      .i-arrow-up-border
    </div>

    <div class="grid__item">
      <i class="i i-arrow-up-circle"></i>
      .i-arrow-up-circle
    </div>

    <div class="grid__item">
      <i class="i i-arrow-up"></i>
      .i-arrow-up
    </div>

    <div class="grid__item">
      <i class="i i-bang-circle"></i>
      .i-bang-circle
    </div>

    <div class="grid__item">
      <i class="i i-bang"></i>
      .i-bang
    </div>

    <div class="grid__item">
      <i class="i i-book"></i>
      .i-book
    </div>

    <div class="grid__item">
      <i class="i i-bulk"></i>
      .i-bulk
    </div>

    <div class="grid__item">
      <i class="i i-cal-add"></i>
      .i-cal-add
    </div>

    <div class="grid__item">
      <i class="i i-calculator"></i>
      .i-calculator
    </div>

    <div class="grid__item">
      <i class="i i-calendar"></i>
      .i-calendar
    </div>

    <div class="grid__item">
      <i class="i i-candidate"></i>
      .i-candidate
    </div>

    <div class="grid__item">
      <i class="i i-cfr"></i>
      .i-cfr
    </div>

    <div class="grid__item">
      <i class="i i-check-circle-outline"></i>
      .i-check-circle-outline
    </div>

    <div class="grid__item">
      <i class="i i-check-circle"></i>
      .i-check-circle
    </div>

    <div class="grid__item">
      <i class="i i-check"></i>
      .i-check
    </div>

    <div class="grid__item">
      <i class="i i-checklist-2"></i>
      .i-checklist-2
    </div>

    <div class="grid__item">
      <i class="i i-checklist"></i>
      .i-checklist
    </div>

    <div class="grid__item">
      <i class="i i-clock-reverse"></i>
      .i-clock-reverse
    </div>

    <div class="grid__item">
      <i class="i i-committee-audit"></i>
      .i-committee-audit
    </div>

    <div class="grid__item">
      <i class="i i-committee"></i>
      .i-committee
    </div>

    <div class="grid__item">
      <i class="i i-compass"></i>
      .i-compass
    </div>

    <div class="grid__item">
      <i class="i i-dash"></i>
      .i-dash
    </div>

    <div class="grid__item">
      <i class="i i-data-flag"></i>
      .i-data-flag
    </div>

    <div class="grid__item">
      <i class="i i-direction-sign"></i>
      .i-direction-sign
    </div>

    <div class="grid__item">
      <i class="i i-disbursement"></i>
      .i-disbursement
    </div>

    <div class="grid__item">
      <i class="i i-document"></i>
      .i-document
    </div>

    <div class="grid__item">
      <i class="i i-download"></i>
      .i-download
    </div>

    <div class="grid__item">
      <i class="i i-election"></i>
      .i-election
    </div>

    <div class="grid__item">
      <i class="i i-facebook-circle"></i>
      .i-facebook-circle
    </div>

    <div class="grid__item">
      <i class="i i-fax"></i>
      .i-fax
    </div>

    <div class="grid__item">
      <i class="i i-file-box"></i>
      .i-file-box
    </div>

    <div class="grid__item">
      <i class="i i-filter"></i>
      .i-filter
    </div>

    <div class="grid__item">
      <i class="i i-financial-document"></i>
      .i-financial-document
    </div>

    <div class="grid__item">
      <i class="i i-folder-with-person"></i>
      .i-folder-with-person
    </div>

    <div class="grid__item">
      <i class="i i-folder"></i>
      .i-folder
    </div>

    <div class="grid__item">
      <i class="i i-github-circle"></i>
      .i-github-circle
    </div>

    <div class="grid__item">
      <i class="i i-graph-horizontal-ordered"></i>
      .i-graph-horizontal-ordered
    </div>

    <div class="grid__item">
      <i class="i i-graph-horizontal-unordered"></i>
      .i-graph-horizontal-unordered
    </div>

    <div class="grid__item">
      <i class="i i-graph"></i>
      .i-graph
    </div>

    <div class="grid__item">
      <i class="i i-grid"></i>
      .i-grid
    </div>

    <div class="grid__item">
      <i class="i i-hand-envelope"></i>
      .i-hand-envelope
    </div>

    <div class="grid__item">
      <i class="i i-hand-money"></i>
      .i-hand-money
    </div>

    <div class="grid__item">
      <i class="i i-icons_table"></i>
      .i-icons_table
    </div>

    <div class="grid__item">
      <i class="i i-individual-contributions"></i>
      .i-individual-contributions
    </div>

    <div class="grid__item">
      <i class="i i-info-circle-outline"></i>
      .i-info-circle-outline
    </div>

    <div class="grid__item">
      <i class="i i-info-circle"></i>
      .i-info-circle
    </div>

    <div class="grid__item">
      <i class="i i-info-person"></i>
      .i-info-person
    </div>

    <div class="grid__item">
      <i class="i i-list"></i>
      .i-list
    </div>

    <div class="grid__item">
      <i class="i i-magnifying-glass-arrow"></i>
      .i-magnifying-glass-arrow
    </div>

    <div class="grid__item">
      <i class="i i-magnifying-glass"></i>
      .i-magnifying-glass
    </div>

    <div class="grid__item">
      <i class="i i-mallet"></i>
      .i-mallet
    </div>

    <div class="grid__item">
      <i class="i i-map-pin"></i>
      .i-map-pin
    </div>

    <div class="grid__item">
      <i class="i i-map-us-states"></i>
      .i-map-us-states
    </div>

    <div class="grid__item">
      <i class="i i-menu"></i>
      .i-menu
    </div>

    <div class="grid__item">
      <i class="i i-minus-circle"></i>
      .i-minus-circle
    </div>

    <div class="grid__item">
      <i class="i i-moving-envelope-circle"></i>
      .i-moving-envelope-circle
    </div>

    <div class="grid__item">
      <i class="i i-notebook"></i>
      .i-notebook
    </div>

    <div class="grid__item">
      <i class="i i-papers"></i>
      .i-papers
    </div>

    <div class="grid__item">
      <i class="i i-person-location"></i>
      .i-person-location
    </div>

    <div class="grid__item">
      <i class="i i-piggy-bank"></i>
      .i-piggy-bank
    </div>

    <div class="grid__item">
      <i class="i i-plus-circle"></i>
      .i-plus-circle
    </div>

    <div class="grid__item">
      <i class="i i-plus"></i>
      .i-plus
    </div>

    <div class="grid__item">
      <i class="i i-point-down-circle"></i>
      .i-point-down-circle
    </div>

    <div class="grid__item">
      <i class="i i-pop-up"></i>
      .i-pop-up
    </div>

    <div class="grid__item">
      <i class="i i-question-bubble"></i>
      .i-question-bubble
    </div>

    <div class="grid__item">
      <i class="i i-question-circle"></i>
      .i-question-circle
    </div>

    <div class="grid__item">
      <i class="i i-scale"></i>
      .i-scale
    </div>

    <div class="grid__item">
      <i class="i i-share"></i>
      .i-share
    </div>

    <div class="grid__item">
      <i class="i i-shield"></i>
      .i-shield
    </div>

    <div class="grid__item">
      <i class="i i-signal"></i>
      .i-signal
    </div>

    <div class="grid__item">
      <i class="i i-sort-down"></i>
      .i-sort-down
    </div>

    <div class="grid__item">
      <i class="i i-sort-up"></i>
      .i-sort-up
    </div>

    <div class="grid__item">
      <i class="i i-sort"></i>
      .i-sort
    </div>

    <div class="grid__item">
      <i class="i i-speaker"></i>
      .i-speaker
    </div>

    <div class="grid__item">
      <i class="i i-stamp-circle"></i>
      .i-stamp-circle
    </div>

    <div class="grid__item">
      <i class="i i-star"></i>
      .i-star
    </div>

    <div class="grid__item">
      <i class="i i-subsection-doc"></i>
      .i-subsection-doc
    </div>

    <div class="grid__item">
      <i class="i i-table"></i>
      .i-table
    </div>

    <div class="grid__item">
      <i class="i i-telephone-circle"></i>
      .i-telephone-circle
    </div>

    <div class="grid__item">
      <i class="i i-timer"></i>
      .i-timer
    </div>

    <div class="grid__item">
      <i class="i i-training"></i>
      .i-training
    </div>

    <div class="grid__item">
      <i class="i i-twitter-circle"></i>
      .i-twitter-circle
    </div>

    <div class="grid__item">
      <i class="i i-two-candidates"></i>
      .i-two-candidates
    </div>

    <div class="grid__item">
      <i class="i i-updates"></i>
      .i-updates
    </div>

    <div class="grid__item">
      <i class="i i-usc"></i>
      .i-usc
    </div>

    <div class="grid__item">
      <i class="i i-x-circle"></i>
      .i-x-circle
    </div>

    <div class="grid__item">
      <i class="i i-x"></i>
      .i-x
    </div>

    <div class="grid__item">
      <i class="i i-youtube-circle"></i>
      .i-youtube-circle
    </div>

  </div>
</div>