<div class="slab slab--neutral" style="padding: 2rem">
  <h1 class="u-padding--bottom">Meeting page template</h1>
  <p class="t-lead">Meeting pages are Wagtail page templates. They are used for open meeting pages, public hearing pages, and executive session pages. These pages are designed to be published ahead of time to set the calendar of meetings, and to be filled with content as it becomes available.</p>
</div>

<div class="slab" style="padding: 2rem">
  <div class="container">

    <div class="usa-width-one-third" style="float:right">
      <h2>Components</h2>
        <ul class="t-sans list--bulleted">
          <li>Title</li>
          <li>Agenda</li>
          <li>Meeting details
            <ul>
              <li>Date</li>
              <li>Time</li>
              <li>Meeting type<br><span class="t-italic">This module automatically sets a tag at the top of the page, and sets the standard introduction text when the author selects the page template</span></li>
            </ul>
          </li>
          <li>Sunshine notice document uploads</li>
          <li>Meeting minutes
            <ul>
              <li>Links</li>
              <li>Approved minutes date</li>
            </ul>
          </li>
          <li>Meeting media / Recordings
            <ul>
              <li>Video URL</li>
              <li>Audio URL</li>
              <li>Meeting transcript</li>
              <li>Live video and live captions <br><span class="t-italic">When this field is populated, the module will appear at the top of the page. Use when the meeting is happening.</span></li>
            </ul>
          </li>
          <li>Imported meeting content <br><span class="t-italic">Scraped HTML of old meeting pages</span></li>
        </ul>
    </div>

    <div class="usa-width-two-thirds" style="padding: 0rem 1rem">
      <img src="/components/page-meeting.png" alt="Mockup of the meeting page template components">
      <h2 class="u-padding--top">When to use</h2>
      <ul class="list--bulleted">
        <li>Open meeting pages</li>
        <li>Public hearing pages</li>
        <li>Executive session pages</li>
      </ul>
      <h2 class="u-padding--top">Example pages</h2>
      <ul class="list--bulleted">
        <li><a href="https://fec.gov/updates/january-25-2018-open-meeting/">January 25, 2018 open meeting</a></li>
        <li><a href="https://fec.gov/updates/february-8-2018-audit-hearing/">February 8, 2018 audit hearing</a></li>
        <li><a href="https://fec.gov/updates/march-6-2018-executive-session/">March 6, 2018 executive session</a></li>
      </ul>
    </div>

  </div>
</div>
