<div class="slab slab--neutral" style="padding: 4rem">
  <h1 class="u-padding--bottom">Reporting example page template</h1>
  <p class="t-lead">Reporting example pages are Wagtail page templates. They are used specifically for “How to report” content that supports specific guide topics, or for Example scenario pages (which have not been put into use yet, but share the design intentions in the template).
</p>
</div>

<div class="slab" style="padding: 2rem">
  <div class="container">

    <div class="usa-width-one-third u-float-right">
      <h2>Components</h2>
        <ul class="t-sans list--bulleted">
          <li>Title</li>
          <li>Pre-title<br><span class="t-italic">“How to report,” “Example scenario”</span></li>
          <li>Feature image<br><span class="t-italic">Used only for example scenario pages. If included, it will be cropped to a small circle and appear to the left of the page title.</span></li>
          <li>Body<br><span class="t-italic">The body module can include:</span>
            <ul>
              <li>Paragraph</li>
              <li>Example image</li>
              <li>Reporting example cards</li>
            </ul>
          </li>
          <li>Related media</li>
        </ul>
    </div>

    <div class="usa-width-two-thirds" style="padding: 0rem 1rem">
      <img src="/components/page-reporting-example.png" alt="Mockup of the reporting example page template components">
      <h2 class="u-padding--top">When to use</h2>
      <ul class="list--bulleted">
        <li>Pages about "How to report"</li>
        <li>Example scenario pages for a fictional in-depth case study</li>
      </ul>
      <h2 class="u-padding--top">Example pages</h2>
      <ul class="list--bulleted">
        <li><a href="https://fec.gov/help-candidates-and-committees/filing-reports/individual-contributions/">How to report individual contributions</a></li>
        <li><a href="https://fec.gov/help-candidates-and-committees/filing-reports/joint-contributions/">How to report joint contributions</a></li>
        <li><a href="https://fec.gov/help-candidates-and-committees/filing-reports/in-kind-contributions/">How to report in-kind contributions</a></li>
      </ul>
    </div>

  </div>
</div>
