<div class="slab slab--neutral" style="padding: 2rem">
  <h1 class="u-padding--bottom">Reports landing page template</h1>
  <p class="t-lead">Reports landing pages are Wagtail page templates. They display document feed pages as major card components in a grid layout with an introductory description.</p>
</div>

<div class="slab" style="padding: 2rem">
  <div class="container">

    <div class="usa-width-one-third" style="float:right">
      <h2>Components</h2>
        <ul class="t-sans list--bulleted">
          <li>Title</li>
          <li>Intro</li>
          <li>Document feeds<br><span class="t-italic">Select a document feed page to display as a card. The number of documents in the collection will automatically be displayed.</span>
            <ul>
              <li>Page</li>
              <li>Description</li>
            </ul>
          </li>
        </ul>
    </div>

    <div class="usa-width-two-thirds" style="padding: 0rem 1rem">
      <img src="/components/page-reports-landing.png" alt="Mockup of the reports landing page template components">
      <h2 class="u-padding--top">When to use</h2>
      <ul class="list--bulleted">
        <li>When users need to scan and compare similar collections of documents so that they can quickly get to the documents they're looking for.</li>
      </ul>
      <h2 class="u-padding--top">Example pages</h2>
      <ul class="list--bulleted">
        <li><a href="https://fec.gov/about/reports-about-fec/">Reports about the FEC</a></li>
      </ul>

    </div>

  </div>
</div>
