<div class="slab slab--neutral" style="padding: 4rem">
  <h1 class="u-padding--bottom">Typography</h1>
  <p class="t-lead">Two primary font families create the system: Gandhi serif and Karla.</p>
</div>

<div class="container" style="padding: 2rem">
  <h2>Gandhi serif</h2>
  <p>
    Gandhi serif is the primary font across the site, used for paragraph copy and main headlines. We sought out a serif that had medium contrast for best web and print readability, a strong bold weight that could be used for clear headline hierarchy, and felt traditional and dependable, without much embellishment to distract the eye. The font also needed to be free, and without licensing restrictions on distribution or use so that it would be aligned in values with an open source project.
  </p>

  <div class="slab">
    <div class="usa-width-one-third t-serif">
      <h3 class="t-normal">Gandhi serif regular</h3>
      <p>The quick candidates and their authorized committees jumped over the lazy brown fox-dog.<br>
      $ § ? 0 1 2 3 4 5 6 7 8 9</p>
    </div>
    <div class="usa-width-one-third t-serif t-italic">
      <h3 class="t-normal">Gandhi serif regular italic</h3>
      <p>The quick corporations and their labor organizations jumped over the lazy brown fox-dog.<br>
      $ § ? 0 1 2 3 4 5 6 7 8 9</p>
    </div>
  </div>

  <div class="slab u-no-padding">
    <div class="usa-width-one-third t-serif t-bold">
      <h3>Gandhi serif bold</h3>
      <p>The quick political action committees jumped over the lazy brown fox-dog.<br>
      $ § ? 0 1 2 3 4 5 6 7 8 9</p>
    </div>
    <div class="usa-width-one-third t-serif t-italic t-bold">
      <h3>Gandhi serif bold italic</h3>
      <p>The quick political party committees jumped over the lazy brown fox-dog.<br>
      $ § ? 0 1 2 3 4 5 6 7 8 9</p>
    </div>
  </div>

  <p>
    In our initial research. we heard from the FEC IT and multimedia teams that <span class="t-bold">they needed a design that held up in both print and web environments</span> so it would be easy to put print publications online, and easy to print publications directly from the web.
    Gandhi was designed by a publishing company especially for this scenario—it ranks high in readability both on web and when printed. Many FEC website users often print pages of the FEC website for reference, and this font was specifically designed to perform well in that scenario.
  </p>

  <p>
    <span class="t-bold">We also needed to prepare to support multiple languages in the future.</span><br>Gandhi specifically has excellent Spanish language character support
  </p>

  <div class="slab">
    <h2>Karla</h2>
    <p>
      Karla is our secondary font used across the site. Used in data tables, visualizations, and footnote-like text, to keep a clear visual distinction from paragraph and headline copy. To balance the traditional feel of Gandhi, we sought out a modern sans serif with a clean, airy feeling, and wider spacing built in. We were especially critical in choosing a font that had precise, unembellished numerals, since we knew it would be used for financial data. There is also high contrast between the regular and bold weights, which allows us to combine them in table designs, and retain clear hierarchy with just one font. Karla is also an open source font, and free to use.
    </p>
  </div>

  <div class="slab t-sans">
    <div class="usa-width-one-third">
      <h3 class="t-sans t-normal">Karla regular</h3>
      <p>The quick candidates and their authorized committees jumped over the lazy brown fox-dog.<br>
      $ § ? 0 1 2 3 4 5 6 7 8 9</p>
    </div>
    <div class="usa-width-one-third t-italic">
      <h3 class="t-sans t-normal">Karla regular italic</h3>
      <p>The quick candidates and their authorized committees jumped over the lazy brown fox-dog.<br>
      $ § ? 0 1 2 3 4 5 6 7 8 9</p>
    </div>
  </div>

  <div class="slab t-sans u-no-padding">
    <div class="usa-width-one-third t-bold">
      <h3 class="t-sans">Karla bold</h3>
      <p>The quick candidates and their authorized committees jumped over the lazy brown fox-dog.<br>
      $ § ? 0 1 2 3 4 5 6 7 8 9</p>
    </div>
  </div>

  <h2 class="u-margin--top">Other background on typography</h2>
  <p>In early interviews, we heard from FEC staff that they wanted clear design guidelines that helped make the new styles easy to achieve, and hard to get wrong.</p>
  <p>One way we wanted to support this through typography was to keep the number of fonts in the system low, so that it was easier to know which font to use when. We also specifically chose fonts that had few (but just enough) differences in weights to choose from. Both Karla and Gandhi only have two weights: Regular and Bold, each with matching italics.</p>
  <br>
<div class="option t-sans">
  <h2>Type styles</h2>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H1:</span> Gandhi bold, 3.6rem (36pt)<br>
      line height: 1.2<br>
      default margin: 0
    </div>

    <div class="usa-width-three-fourths">
      <h1>Heading 1</h1>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H1: heading--main</span><br>
      Gandhi bold, 3.6rem (36pt)<br>
      line height: 1.2<br>
      border bottom: 2px $base
    </div>

    <div class="usa-width-three-fourths">
      <h1 class="heading--main">Appointing a treasurer</h1>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H1 with heading__subtitle</span><br>
      Subtitle: Karla bold 1.4rem (14pt)<br>
      uppercase<br>
      line height: 1.8<br>
      kerning: -.3px
    </div>

    <div class="usa-width-three-fourths">
      <header class="heading--main">
        <h1>MUR #7234</h1>
        <span class="heading__subtitle">National association of realtors polital action commmittee</span>
      </header>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H2:</span> Gandhi bold 2.4 (24pt)<br>
      line height: 1.2<br>
      default margin bottom: 2rem
    </div>

    <div class="usa-width-three-fourths">
      <h2>Sponsors affiliated with corporations (Heading 2)</h2>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H2 as section divider:</span><br>
      Gandhi bold 2.4rem (24pt)<br>
      line height: 1.2<br>
      default margin bottom: 2rem<br>
      border top: 2px $primary
    </div>

    <div class="usa-width-three-fourths">
      <div class="option">
        <h2>Candidates and their authorized committees</h2>
      </div>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H3:</span> Gandhi bold 1.8rem (18pt)<br>
      line height: 1.6<br>
      default margin bottom: 1rem
    </div>

    <div class="usa-width-three-fourths">
      <h3>Registering as a candidate (Heading 3)
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H4:</span> Karla bold 1.8rem (18pt)<br>
      line height: 1.2<br>
      kerning: -.3px<br>
      default margin top: 1.4rem<br>
      default margin bottom: 1rem
    </div>

    <div class="usa-width-three-fourths">
      <h4>Explicit words of advocacy of election or default (Heading 4)
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H5:</span> Gandhi bold 1.6rem (16pt)<br>
      line height: 1.3<br>
      default margin top: 1.5rem<br>
      default margin bottom: .75rem
    </div>

    <div class="usa-width-three-fourths">
      <h5>Items not requiring disclaimer (Heading 5)</h5>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">H6:</span> Karla regular 1.3rem<br>
      uppercase<br>
      line height: 1.63rem<br>
      border-bottom: 1px, $base<br>
      default margin bottom: 1rem
    </div>

    <div class="usa-width-three-fourths">
      <h6>Continue learning about this topic (Heading 6)</h6>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Lead paragraph (t-lead):</span><br>
      Gandhi regular, 1.8rem<br>
      line height: 2.8<br>
      default margin bottom: 2.4rem<br>
      <em>Used for an introductory or summary paragraph about the page or concept</em>
    </div>

    <div class="usa-width-three-fourths">
      <p class="t-lead t-serif">Advisory opinions are official Commission responses to questions about how federal campaign finance law applies to specific, factual situations.</p>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Body copy (p):</span><br>
      Gandhi regular 1.6rem (16pt)<br>
      line height: 2.4<br>
      default margin bottom: 2.4rem<br>
      <em>This is the regular body, or paragraph copy style</em>
    </div>

    <div class="usa-width-three-fourths t-serif">
      <p>Under the <em>Federal Election Campaign Act</em>, contributions are subject to limits. The limits apply to all types of contributions (except contributions made from a candidate's personal funds).</p>
      <p>It is important to note that a campaign is prohibited from retained contributions that exceed the limits. In the event that a campaign receives excessive contributions, it must follow special procedures for handling such funds.</p>
      <p>The limits on contributions to candidates apply separately to each federal election in which the candidate participates. A primary election, general election, runoff election and special election are each considered a separate election with a separate limit.</p>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Numbered (ordered) lists with ordered sub-items.</span><br>
      <em>Use these when following a specific sequential order is important.</em>
    </div>

    <div class="usa-width-three-fourths t-serif">
      <p>To get to work:</p>
      <ul class="list--numbered">
        <li>Leave your house.</li>
        <li>Get on the bus.
          <ol>
            <li>Let other people off first.</li>
            <li>Swipe your metro card.</li>
            <li>Find an open seat.
              <ol>
                <li>Level 3 (if needed).</li>
                <li>Level 3 (if needed).</li>
              </ol>
            </li>
          </ol>
        <li>Listen to S Town while you ride.</li>
        </li>
      </ul>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Bulleted (unordered) lists with unordered sub-items.</span><br>
      <em>Use these when there is no particular sequential order for the items listed.</em>
    </div>

    <div class="usa-width-three-fourths t-serif">
      <p>Before you leave for work, don't forget your:</p>
      <ul class="list--bulleted">
        <li>Keys</li>
        <li>Wallet</li>
        <li>Phone
          <ul>
            <li>Level 2 (if needed).</li>
            <li>Level 2 (if needed).
              <ul>
                <li>Level 3 (if needed).</li>
                <li>Level 3 (if needed).</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Ordered lists with unordered sub-sections.</span><br>
      <em>Use these when there is no particular sequential order for the items listed.</em>
    </div>

    <div class="usa-width-three-fourths t-serif">
      <p>To get to work:</p>
      <ul class="list--numbered">
        <li>Leave your house. Don't forget your:
          <ul>
            <li>Keys</li>
            <li>Wallet</li>
            <li>Phone</li>
          </ul>
        </li>
        <li>Get on the bus.</li>
        <li>Listen to S Town while you ride.</li>
      </ul>
    </div>
  </div>

  <div class="slab">
    <div class="usa-width-one-fourth">
      <span class="t-bold">Blockquotes</span><br>
      <em>Italicized body copy visually separated from a paragraph block</em>
    </div>

    <div class="usa-width-three-fourths t-serif">
      <blockquote>
        <p>“There was a drop down, but no place to write in text. We would have expenses that didn’t quite match what was in the dropdown. This led to questions like “we are trying to do this as accurately as possible, but if this category is not right, is the blame on us…?” I wanted to make sure I crossed Ts and dotted Is… oftentimes it didn’t seem clear how to list certain expenses from that dropdown menu.”</p>
        <p>—Filer</p>
      </blockquote>
    </div>
  </div>

<div>
</div>
