<div class="slab slab--neutral" style="padding: 2rem">
  <h1 class="u-padding--bottom">Update page templates</h1>
  <p class="t-lead">Each of the four types of update pages is built for a specific type of article, or publication. They are visually very similar, with small differences in their components customized to the type of publications needs.</p>
  <ul class="list--bulleted">
    <li>Press release page template</li>
    <li>Record page template</li>
    <li>Tips for treasurers page template</li>
    <li>Weekly digest page template</li>
  </ul>
</div>

<div class="slab" style="padding: 2rem">
  <div class="container">

    <div class="usa-width-one-third" style="float:right">
      <h2>Components</h2>
      <h3>Shared across all four templates</h3>
        <ul class="t-sans list--bulleted">
          <li>Page type tag<br><span class="t-italic">This module is applied automatically when you select the page template</span></li>
          <li>Title</li>
          <li>Date</li>
          <li>Category</li>
          <li>Body<br><span class="t-italic">A paragraph is the standard option, but the body module can include:</span>
            <ul>
              <li>Paragraph</li>
              <li>HTML</li>
              <li>Image</li>
              <li>Table</li>
              <li>Custom table</li>
            </ul>
          </li>
          <li>Authors</li>
          <li>Read next<br><span class="t-italic">This module auto-fills with the last article of the same type published before the one being edited, unless the author changes it</span></li>
        </ul>
        <h3>Unique to Record page templates</h3>
        <ul class="t-sans list--bulleted">
          <li>Monthly issue</li>
          <li>Tags</li>
          <li>Related section</li>
        </ul>
    </div>

    <div class="usa-width-two-thirds" style="padding: 0rem 1rem">
      <img src="/components/page-updates.png" alt="Mockup of the update page template components">
      <h2 class="u-padding--top">When to use</h2>
      <p>Each publication should use its corresponding specific page template.</p>
      <h2 class="u-padding--top">Example pages</h2>
      <ul class="list--bulleted">
        <li><span class="t-bold">Press release: </span><a href="https://fec.gov/updates/fec-cites-committees-failure-file-12-day-pre-primary-financial-report/">FEC cites committees for failure to file 12-day pre-primary financial report </a></li>
        <li><span class="t-bold">Record article: </span><a href="https://fec.gov/updates/fec-updates-debt-settlement-and-electioneering-communications-forms/">FEC updates debt settlement and electioneering communications forms </a></li>
        <li><span class="t-bold">Tips for treasurers: </span><a href="https://fec.gov/updates/its-primary-season-even-unopposed-and-independent-candidates-tip20180227/">It’s primary season, even for unopposed and independent candidates </a></li>
        <li><span class="t-bold">Weekly digest: </span><a href="https://fec.gov/updates/week-february-march-5-9-2018/">Week of March 5 - 9, 2018 </a></li>
      </ul>
    </div>

  </div>
</div>
