<div class="slab">
  <div class="grid grid--4-wide">
    <div class="grid__item">
      .crimson
      <div class="sg-swatch crimson"></div>
    </div>
    <div class="grid__item">
      .orange
      <div class="sg-swatch orange"></div>
    </div>
    <div class="grid__item">
      .federal-blue
      <div class="sg-swatch federal-blue"></div>
    </div>
    <div class="grid__item">
      .aqua
      <div class="sg-swatch aqua"></div>
    </div>
    <div class="grid__item">
      .neutral
      <div class="sg-swatch neutral"></div>
    </div>
    <div class="grid__item">
      .bright-red
      <div class="sg-swatch bright-red"></div>
    </div>
    <div class="grid__item">
      .deep-orange
      <div class="sg-swatch deep-orange"></div>
    </div>
    <div class="grid__item">
      .deep-red
      <div class="sg-swatch deep-red"></div>
    </div>
    <div class="grid__item">
      .bright-blue
      <div class="sg-swatch bright-blue"></div>
    </div>
    <div class="grid__item">
      .deep-aqua
      <div class="sg-swatch deep-aqua"></div>
    </div>
    <div class="grid__item">
      .navy
      <div class="sg-swatch navy"></div>
    </div>
    <div class="grid__item">
      .gray-lightest
      <div class="sg-swatch gray-lightest"></div>
    </div>
    <div class="grid__item">
      .gray-light
      <div class="sg-swatch gray-light"></div>
    </div>
    <div class="grid__item">
      .gray-medium
      <div class="sg-swatch gray-medium"></div>
    </div>
    <div class="grid__item">
      .gray
      <div class="sg-swatch gray"></div>
    </div>
    <div class="grid__item">
      .gray-dark
      <div class="sg-swatch gray-dark"></div>
    </div>
    <div class="grid__item">
      .disabled
      <div class="sg-swatch disabled"></div>
    </div>
  </div>
</div>
