<div class="slab" style="padding: 1rem">
  <div class="grid grid--4-wide">
    <div class="grid__item">
      <i class="i i-all-files"></i><br>
      .i-all-files
    </div>
    <div class="grid__item">
      <i class="i i-arrow-down-border"></i><br>
      .i-arrow-down-border
    </div>
    <div class="grid__item">
      <i class="i i-arrow-down-circle"></i><br>
      .i-arrow-down-circle
    </div>
    <div class="grid__item">
      <i class="i i-arrow-down"></i><br>
      .i-arrow-down
    </div>
    <div class="grid__item">
      <i class="i i-arrow-left-border"></i><br>
      .i-arrow-left-border
    </div>
    <div class="grid__item">
      <i class="i i-arrow-left-circle"></i><br>
      .i-arrow-left-circle
    </div>
    <div class="grid__item">
      <i class="i i-arrow-left"></i><br>
      .i-arrow-left
    </div>
    <div class="grid__item">
      <i class="i i-arrow-right-border"></i><br>
      .i-arrow-right-border
    </div>
    <div class="grid__item">
      <i class="i i-arrow-right-circle"></i><br>
      .i-arrow-right-circle
    </div>
    <div class="grid__item">
      <i class="i i-arrow-right"></i><br>
      .i-arrow-right
    </div>
    <div class="grid__item">
      <i class="i i-arrow-up-border"></i><br>
      .i-arrow-up-border
    </div>
    <div class="grid__item">
      <i class="i i-arrow-up-circle"></i><br>
      .i-arrow-up-circle
    </div>
    <div class="grid__item">
      <i class="i i-arrow-up"></i><br>
      .i-arrow-up
    </div>
    <div class="grid__item">
      <i class="i i-bang-circle"></i><br>
      .i-bang-circle
    </div>
    <div class="grid__item">
      <i class="i i-bang"></i><br>
      .i-bang
    </div>
    <div class="grid__item">
      <i class="i i-book"></i><br>
      .i-book
    </div>
    <div class="grid__item">
      <i class="i i-cal-add"></i><br>
      .i-cal-add
    </div>
    <div class="grid__item">
      <i class="i i-calendar"></i><br>
      .i-calendar
    </div>
    <div class="grid__item">
      <i class="i i-candidate"></i><br>
      .i-candidate
    </div>
    <div class="grid__item">
      <i class="i i-check-circle"></i><br>
      .i-check-circle
    </div>
    <div class="grid__item">
      <i class="i i-check"></i><br>
      .i-check
    </div>
    <div class="grid__item">
      <i class="i i-committee"></i><br>
      .i-committee
    </div>
    <div class="grid__item">
      <i class="i i-dash"></i><br>
      .i-dash
    </div>
    <div class="grid__item">
      <i class="i i-data-flag"></i><br>
      .i-data-flag
    </div>
    <div class="grid__item">
      <i class="i i-disbursement"></i><br>
      .i-disbursement
    </div>
    <div class="grid__item">
      <i class="i i-document"></i><br>
      .i-document
    </div>
    <div class="grid__item">
      <i class="i i-download"></i><br>
      .i-download
    </div>
    <div class="grid__item">
      <i class="i i-facebook-circle"></i><br>
      .i-facebook-circle
    </div>
    <div class="grid__item">
      <i class="i i-file-box"></i><br>
      .i-file-box
    </div>
    <div class="grid__item">
      <i class="i i-filter"></i><br>
      .i-filter
    </div>
    <div class="grid__item">
      <i class="i i-folder-with-person"></i><br>
      .i-folder-with-person
    </div>
    <div class="grid__item">
      <i class="i i-github-circle"></i><br>
      .i-github-circle
    </div>
    <div class="grid__item">
      <i class="i i-graph"></i><br>
      .i-graph
    </div>
    <div class="grid__item">
      <i class="i i-grid"></i><br>
      .i-grid
    </div>
    <div class="grid__item">
      <i class="i i-icons_table"></i><br>
      .i-icons_table
    </div>
    <div class="grid__item">
      <i class="i i-info-circle-outline"></i><br>
      .i-info-circle-outline
    </div>
    <div class="grid__item">
      <i class="i i-info-circle"></i><br>
      .i-info-circle
    </div>
    <div class="grid__item">
      <i class="i i-info-person"></i><br>
      .i-info-person
    </div>
    <div class="grid__item">
      <i class="i i-list"></i><br>
      .i-list
    </div>
    <div class="grid__item">
      <i class="i i-magnifying-glass-arrow"></i><br>
      .i-magnifying-glass-arrow
    </div>
    <div class="grid__item">
      <i class="i i-magnifying-glass"></i><br>
      .i-magnifying-glass
    </div>
    <div class="grid__item">
      <i class="i i-map-pin"></i><br>
      .i-map-pin
    </div>
    <div class="grid__item">
      <i class="i i-menu"></i><br>
      .i-menu
    </div>
    <div class="grid__item">
      <i class="i i-minus-circle"></i><br>
      .i-minus-circle
    </div>
    <div class="grid__item">
      <i class="i i-moving-envelope-circle"></i><br>
      .i-moving-envelope-circle
    </div>
    <div class="grid__item">
      <i class="i i-papers"></i><br>
      .i-papers
    </div>
    <div class="grid__item">
      <i class="i i-person-location"></i><br>
      .i-person-location
    </div>
    <div class="grid__item">
      <i class="i i-piggy-bank"></i><br>
      .i-piggy-bank
    </div>
    <div class="grid__item">
      <i class="i i-plus-circle"></i><br>
      .i-plus-circle
    </div>
    <div class="grid__item">
      <i class="i i-plus"></i><br>
      .i-plus
    </div>
    <div class="grid__item">
      <i class="i i-point-down-circle"></i><br>
      .i-point-down-circle
    </div>
    <div class="grid__item">
      <i class="i i-question-circle"></i><br>
      .i-question-circle
    </div>
    <div class="grid__item">
      <i class="i i-share"></i><br>
      .i-share
    </div>
    <div class="grid__item">
      <i class="i i-signal"></i><br>
      .i-signal
    </div>
    <div class="grid__item">
      <i class="i i-sort-down"></i><br>
      .i-sort-down
    </div>
    <div class="grid__item">
      <i class="i i-sort-up"></i><br>
      .i-sort-up
    </div>
    <div class="grid__item">
      <i class="i i-sort"></i><br>
      .i-sort
    </div>
    <div class="grid__item">
      <i class="i i-stamp-circle"></i><br>
      .i-stamp-circle
    </div>
    <div class="grid__item">
      <i class="i i-star"></i><br>
      .i-star
    </div>
    <div class="grid__item">
      <i class="i i-table"></i><br>
      .i-table
    </div>
    <div class="grid__item">
      <i class="i i-telephone-circle"></i><br>
      .i-telephone-circle
    </div>
    <div class="grid__item">
      <i class="i i-training"></i><br>
      .i-training
    </div>
    <div class="grid__item">
      <i class="i i-twitter-circle"></i><br>
      .i-twitter-circle
    </div>
    <div class="grid__item">
      <i class="i i-two-candidates"></i><br>
      .i-two-candidates
    </div>
    <div class="grid__item">
      <i class="i i-updates"></i><br>
      .i-updates
    </div>
    <div class="grid__item">
      <i class="i i-x-circle"></i><br>
      .i-x-circle
    </div>
    <div class="grid__item">
      <i class="i i-x"></i><br>
      .i-x
    </div>
    <div class="grid__item">
      <i class="i i-youtube-circle"></i><br>
      .i-youtube-circle
    </div>
  </div>
</div>
