<div class="slab">
  <div class="grid grid--4-wide">
    <div class="grid__item">
      .i-all-files
      <br>
      <i class="i i-all-files"></i>
    </div>
    <div class="grid__item">
      .i-arrow-down-border
      <br>
      <i class="i i-arrow-down-border"></i>
    </div>
    <div class="grid__item">
      .i-arrow-down-circle
      <br>
      <i class="i i-arrow-down-circle"></i>
    </div>
    <div class="grid__item">
      .i-arrow-down
      <br>
      <i class="i i-arrow-down"></i>
    </div>
    <div class="grid__item">
      .i-arrow-left-border
      <br>
      <i class="i i-arrow-left-border"></i>
    </div>
    <div class="grid__item">
      .i-arrow-left-circle
      <br>
      <i class="i i-arrow-left-circle"></i>
    </div>
    <div class="grid__item">
      .i-arrow-left
      <br>
      <i class="i i-arrow-left"></i>
    </div>
    <div class="grid__item">
      .i-arrow-right-border
      <br>
      <i class="i i-arrow-right-border"></i>
    </div>
    <div class="grid__item">
      .i-arrow-right-circle
      <br>
      <i class="i i-arrow-right-circle"></i>
    </div>
    <div class="grid__item">
      .i-arrow-right
      <br>
      <i class="i i-arrow-right"></i>
    </div>
    <div class="grid__item">
      .i-arrow-up-border
      <br>
      <i class="i i-arrow-up-border"></i>
    </div>
    <div class="grid__item">
      .i-arrow-up-circle
      <br>
      <i class="i i-arrow-up-circle"></i>
    </div>
    <div class="grid__item">
      .i-arrow-up
      <br>
      <i class="i i-arrow-up"></i>
    </div>
    <div class="grid__item">
      .i-bang-circle
      <br>
      <i class="i i-bang-circle"></i>
    </div>
    <div class="grid__item">
      .i-bang
      <br>
      <i class="i i-bang"></i>
    </div>
    <div class="grid__item">
      .i-book
      <br>
      <i class="i i-book"></i>
    </div>
    <div class="grid__item">
      .i-cal-add
      <br>
      <i class="i i-cal-add"></i>
    </div>
    <div class="grid__item">
      .i-calendar
      <br>
      <i class="i i-calendar"></i>
    </div>
    <div class="grid__item">
      .i-candidate
      <br>
      <i class="i i-candidate"></i>
    </div>
    <div class="grid__item">
      .i-check-circle
      <br>
      <i class="i i-check-circle"></i>
    </div>
    <div class="grid__item">
      .i-check
      <br>
      <i class="i i-check"></i>
    </div>
    <div class="grid__item">
      .i-committee
      <br>
      <i class="i i-committee"></i>
    </div>
    <div class="grid__item">
      .i-dash
      <br>
      <i class="i i-dash"></i>
    </div>
    <div class="grid__item">
      .i-data-flag
      <br>
      <i class="i i-data-flag"></i>
    </div>
    <div class="grid__item">
      .i-disbursement
      <br>
      <i class="i i-disbursement"></i>
    </div>
    <div class="grid__item">
      .i-document
      <br>
      <i class="i i-document"></i>
    </div>
    <div class="grid__item">
      .i-download
      <br>
      <i class="i i-download"></i>
    </div>
    <div class="grid__item">
      .i-facebook-circle
      <br>
      <i class="i i-facebook-circle"></i>
    </div>
    <div class="grid__item">
      .i-file-box
      <br>
      <i class="i i-file-box"></i>
    </div>
    <div class="grid__item">
      .i-filter
      <br>
      <i class="i i-filter"></i>
    </div>
    <div class="grid__item">
      .i-folder-with-person
      <br>
      <i class="i i-folder-with-person"></i>
    </div>
    <div class="grid__item">
      .i-github-circle
      <br>
      <i class="i i-github-circle"></i>
    </div>
    <div class="grid__item">
      .i-graph
      <br>
      <i class="i i-graph"></i>
    </div>
    <div class="grid__item">
      .i-grid
      <br>
      <i class="i i-grid"></i>
    </div>
    <div class="grid__item">
      .i-icons_table
      <br>
      <i class="i i-icons_table"></i>
    </div>
    <div class="grid__item">
      .i-info-circle-outline
      <br>
      <i class="i i-info-circle-outline"></i>
    </div>
    <div class="grid__item">
      .i-info-circle
      <br>
      <i class="i i-info-circle"></i>
    </div>
    <div class="grid__item">
      .i-info-person
      <br>
      <i class="i i-info-person"></i>
    </div>
    <div class="grid__item">
      .i-list
      <br>
      <i class="i i-list"></i>
    </div>
    <div class="grid__item">
      .i-magnifying-glass-arrow
      <br>
      <i class="i i-magnifying-glass-arrow"></i>
    </div>
    <div class="grid__item">
      .i-magnifying-glass
      <br>
      <i class="i i-magnifying-glass"></i>
    </div>
    <div class="grid__item">
      .i-map-pin
      <br>
      <i class="i i-map-pin"></i>
    </div>
    <div class="grid__item">
      .i-menu
      <br>
      <i class="i i-menu"></i>
    </div>
    <div class="grid__item">
      .i-minus-circle
      <br>
      <i class="i i-minus-circle"></i>
    </div>
    <div class="grid__item">
      .i-moving-envelope-circle
      <br>
      <i class="i i-moving-envelope-circle"></i>
    </div>
    <div class="grid__item">
      .i-papers
      <br>
      <i class="i i-papers"></i>
    </div>
    <div class="grid__item">
      .i-person-location
      <br>
      <i class="i i-person-location"></i>
    </div>
    <div class="grid__item">
      .i-piggy-bank
      <br>
      <i class="i i-piggy-bank"></i>
    </div>
    <div class="grid__item">
      .i-plus-circle
      <br>
      <i class="i i-plus-circle"></i>
    </div>
    <div class="grid__item">
      .i-plus
      <br>
      <i class="i i-plus"></i>
    </div>
    <div class="grid__item">
      .i-point-down-circle
      <br>
      <i class="i i-point-down-circle"></i>
    </div>
    <div class="grid__item">
      .i-question-circle
      <br>
      <i class="i i-question-circle"></i>
    </div>
    <div class="grid__item">
      .i-share
      <br>
      <i class="i i-share"></i>
    </div>
    <div class="grid__item">
      .i-signal
      <br>
      <i class="i i-signal"></i>
    </div>
    <div class="grid__item">
      .i-sort-down
      <br>
      <i class="i i-sort-down"></i>
    </div>
    <div class="grid__item">
      .i-sort-up
      <br>
      <i class="i i-sort-up"></i>
    </div>
    <div class="grid__item">
      .i-sort
      <br>
      <i class="i i-sort"></i>
    </div>
    <div class="grid__item">
      .i-stamp-circle
      <br>
      <i class="i i-stamp-circle"></i>
    </div>
    <div class="grid__item">
      .i-star
      <br>
      <i class="i i-star"></i>
    </div>
    <div class="grid__item">
      .i-table
      <br>
      <i class="i i-table"></i>
    </div>
    <div class="grid__item">
      .i-telephone-circle
      <br>
      <i class="i i-telephone-circle"></i>
    </div>
    <div class="grid__item">
      .i-training
      <br>
      <i class="i i-training"></i>
    </div>
    <div class="grid__item">
      .i-twitter-circle
      <br>
      <i class="i i-twitter-circle"></i>
    </div>
    <div class="grid__item">
      .i-two-candidates
      <br>
      <i class="i i-two-candidates"></i>
    </div>
    <div class="grid__item">
      .i-updates
      <br>
      <i class="i i-updates"></i>
    </div>
    <div class="grid__item">
      .i-x-circle
      <br>
      <i class="i i-x-circle"></i>
    </div>
    <div class="grid__item">
      .i-x
      <br>
      <i class="i i-x"></i>
    </div>
    <div class="grid__item">
      .i-youtube-circle
      <br>
      <i class="i i-youtube-circle"></i>
    </div>
  </div>
</div>
