<div class="slab slab--neutral">
  <div class="grid sg-grid-example {{modifier}}">
    <div class="grid__item">
      Grid item
    </div>
    <div class="grid__item">
      Grid item
    </div>
    <div class="grid__item">
      Grid item
    </div>
    <div class="grid__item">
      Grid item
    </div>
    <div class="grid__item">
      Grid item
    </div>
    <div class="grid__item">
      Grid item
    </div>
    <div class="grid__item">
      Grid item
    </div>
    <div class="grid__item">
      Grid item
    </div>
  </div>
  </div>
