 <div class="slab {{modifier}}">
   <div class="container">
     <label class="label" for="input">Input</label>
     <input type="text" id="input">
     <label class="label" for="select">Select</label>
     <select>
      <option>Option 1</option>
     </select>
     <fieldset>
       <legend class="label">Select any</legend>
       <ul>
         <li>
           <input type="checkbox" id="checkbox-{{modifier}}-A" checked>
           <label for="checkbox-{{modifier}}-A">Option 1</label>
         </li>
         <li>
           <input type="checkbox" id="checkbox-{{modifier}}-B">
           <label for="checkbox-{{modifier}}-B">Option 2</label>
         </li>
       </ul>
     </fieldset>
     <fieldset>
       <legend class="label">Select one</legend>
       <ul>
         <li>
           <input type="radio" id="radio-{{modifier}}-A" name="radio" tab-index="0" checked>
           <label for="radio-{{modifier}}-A">Option 1</label>
         </li>
         <li>
           <input type="radio" id="radio-{{modifier}}-B" name="radio" tab-index="0">
           <label for="radio-{{modifier}}-B" >Option 2</label>
         </li>
       </ul>
     </fieldset>
   </div>
 </div>
