<div class="slab slab--{{ modifier }}">
  <div class="container">
    <label class="label" for="input">Input</label>
    <input type="text" id="input">
    <label class="label" for="select">Select</label>
    <select>
     <option>Option 1</option>
    </select>
  </div>
</div>
