<div class="slab">
  <div class="grid grid--4-wide">
    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-candidate"><span class="u-visually-hidden">Icon representing Candidates</span></span>
        </div>
        <div class="card__content">
         Candidate icon
        </div>
      </aside>
    </div>

    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-committee"><span class="u-visually-hidden">Icon representing committees</span></span>
        </div>
        <div class="card__content">
         Committee icon
        </div>
      </aside>
    </div>

    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-receipt"><span class="u-visually-hidden">Icon representing receipts</span></span>
        </div>
        <div class="card__content">
         Receipt icon
        </div>
      </aside>
    </div>

    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-disbursement"><span class="u-visually-hidden">Icon representing disbursements</span></span>
        </div>
        <div class="card__content">
         Disbursement icon
        </div>
      </aside>
    </div>

    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-overview"><span class="u-visually-hidden">Icon representing overviews</span></span>
        </div>
        <div class="card__content">
         Overview icon
        </div>
      </aside>
    </div>

    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-profile"><span class="u-visually-hidden">Icon representing profiles</span></span>
        </div>
        <div class="card__content">
         Profile icon
        </div>
      </aside>
    </div>

    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-elections"><span class="u-visually-hidden">Icon representing elections</span></span>
        </div>
        <div class="card__content">
         Election icon
        </div>
      </aside>
    </div>

    <div class="grid__item">
      <aside class="card card--primary card--horizontal">
        <div class="card__image">
         <span class="card__icon i-data-flag"><span class="u-visually-hidden">Icon representing data flag</span></span>
        </div>
        <div class="card__content">
         Data flag icon
        </div>
      </aside>
    </div>
  </div>
</div>
