<nav class="footer-links">
  <div class="container">

    <div class="grid grid--6-wide">

      <div class="grid__item">
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Careers</a>
          </li>
          <li>
            <a href="#">Press</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>

      <div class="grid__item"></div>

      <div class="grid__item"></div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="#">Privacy and security policy</a>
          </li>
          <li>
            <a href="#">Plain language</a>
          </li>
          <li>
            <a href="#">No FEAR Act</a>
          </li>
          <li>
            <a href="#">Strategy, budget and performance</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="#">Open government</a>
          </li>
          <li>
            <a href="#">USA.gov</a>
          </li>
          <li>
            <a href="#">Inspector General</a>
          </li>
          <li>
            <a href="#">FOIA</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="#">OpenFEC API</a>
          </li>
          <li>
            <a href="#">GitHub repository</a>
          </li>
          <li>
            <a href="#">Release notes</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<footer class="footer">
  <div class="container">
    <div class="seal">
      <img class="seal__img" width="140" height="140" src="/img/seal--inverse.svg" alt="Seal of the Federal Election Commission | United States of America">
      <p class="address__title">Federal Election Commission</p>
    </div>

    <div class="address">
      <ul class="social-media">
        <li>
          <div class="i icon--twitter">
            <a href="#"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
          </div>
        </li>
        <li>
          <div class="i icon--youtube">
            <a href="#"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
          </div>
        </li>
      </ul>

      <p>1050 First Street, NE<br>
      Washington, DC 20463</p>

      <a href="#" target="_blank">
        <button class="button--standard button--envelope">Sign up for FECMail</button>
      </a>
    </div>
  </div>
</footer>
