<nav class="footer-links">
  <div class="container">

    <div class="grid grid--6-wide">
      <div class="grid__item"></div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="https://www.fec.gov/about/">About the FEC</a>
          </li>
          <li>
            <a href="https://www.fec.gov/about/careers/">Careers</a>
          </li>
          <li>
            <a href="https://www.fec.gov/contact-us/">Contact</a>
          </li>
          <li>
            <a href="https://www.fec.gov/press/">Press</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="https://www.fec.gov/about/privacy-and-security-policy">Privacy and security policy</a>
          </li>
          <li>
            <a href="https://www.fec.gov/about/plain-language/">Plain language</a>
          </li>
          <li>
            <a href="https://www.fec.gov/about/no-fear-act/">No FEAR Act</a>
          </li>
          <li>
            <a href="https://www.fec.gov/about/reports-about-fec/strategy-budget-and-performance/">Strategy, budget and performance</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="https://api.open.fec.gov/">OpenFEC API</a>
          </li>
          <li>
            <a href="https://github.com/18F/fec">GitHub repository</a>
          </li>
          <li>
            <a href="https://github.com/18F/FEC/blob/master/release_notes/release_notes.md">Release notes</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="https://www.data.gov/open-gov/">Open government</a>
          </li>
          <li>
            <a href="https://www.usa.gov/">USA.gov</a>
          </li>
          <li>
            <a href="https://transition.fec.gov/fecig/fecig.shtml">Inspector General</a>
          </li>
          <li>
            <a href="/freedom-information-act/">FOIA</a>
          </li>
        </ul>
      </div>

      <div class="grid__item">
        <ul>
          <li>
            <a href="https://www.fec.gov/updates/">Latest updates</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<footer class="footer">
  <div class="container">
    <div class="seal">
      <img class="seal__img" src="/img/seal--inverse.svg" alt="Seal of the Federal Election Commission">
      <p class="address__title">Federal Election Commission</p>
    </div>
    <div class="address">
      <ul class="social-media">
        <li>
          <div class="i icon--twitter">
            <a href="https://twitter.com/fec"><span class="u-visually-hidden">The FEC's Twitter page</span></a>
          </div>
        </li>
        <li>
          <div class="i icon--youtube">
            <a href="https://www.youtube.com/user/FECTube"><span class="u-visually-hidden">The FEC's YouTube page</span></a>
          </div>
        </li>
      </ul>
      <p>999 E Street, NW<br>
      Washington, DC 20463</p>
    </div>
  </div>
</footer>
