<div style="padding: 2rem">
  <ul class="list--bulleted">
   <li>Unordered list item 1</li>
   <li>Unordered list item 2</li>
   <li>Unordered list item 2</li>
  </ul>
  <ul class="list--numbered">
   <li>Unordered list item 1</li>
   <li>Unordered list item 2</li>
   <li>Unordered list item 2</li>
  </ul>
  <ul class="list--flat">
   <li>Unordered list item 1</li>
   <li>Unordered list item 2</li>
   <li>Unordered list item 2</li>
  </ul>
  <ul class="list--spacious">
   <li>Unordered list item 1</li>
   <li>Unordered list item 2</li>
   <li>Unordered list item 2</li>
  </ul>
</div>
