<!-- Primary breadcrumb -->

<div class="page-header slab slab--primary">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <a href="#" class="breadcrumbs__link">Campaign finance data</a>
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <span>Advanced data</span>
    </li>
  </ul>
</div>


<!-- Secondary breadcrumb -->

<div class="page-header slab slab--secondary" style="margin-top: 3rem;">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link" rel="Home">Home</a></li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <a href="#" class="breadcrumbs__link">Help for candidates and committees</a>
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__separator">›</span>
      <span>Dates and deadlines</span>
    </li>
  </ul>
</div>